<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="89.0.17" targetFramework="net472" />
  <package id="cef.redist.x86" version="89.0.17" targetFramework="net472" />
  <package id="CefSharp.Common" version="89.0.170" targetFramework="net472" />
  <package id="CefSharp.OffScreen" version="89.0.170" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="89.0.170" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-ExtendedLinguisticServices" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Sensors" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net472" />
  <package id="Google.Apis" version="1.51.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.51.0" targetFramework="net472" />
  <package id="Google.Apis.Calendar.v3" version="1.51.0.2291" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.51.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
</packages>